.transparent{
    background-color: rgba(97,61,124,0.2);
    margin-top: 15%;
    margin-left: 5%;
    width:500px;
}

.logotipo{
    position:absolute;
    z-index:1;
    left:10%;
    font-size: 23px;
    font-weight: bold;
}

.logotipoFooter{
    //position:absolute;
    //z-index:1;
    //left:10%;
    font-size: 23px;
    font-weight: bold;
}

/* --------------------------------------------------------
 Redes Flotantes
-------------------------------------------------------- */
.redes-flotantes {
    position: fixed;
    right: 8px;
    bottom: 13%;
    z-index: 2;
    }
    .redes-flotantes img {
    float: right; clear: right;
     margin: 5px;
     margin-bottom: 10%;
     height: 59px;
     width: 59px;
    -moz-transform: scale(.8) ;
    -webkit-transform: scale(.8) ;
    -o-transform: scale(.8) ;
    -ms-transform: scale(.8) ;
    transform: scale(.8) ;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }
    .redes-flotantes img:hover {
    -moz-transform: scale(1.1) rotate(6deg);
    -webkit-transform: scale(1.1) rotate(6deg);
    -o-transform: scale(1.1) rotate(6deg);
    -ms-transform: scale(1.1) rotate(6deg);
    transform: scale(1.1) rotate(6deg);
    }
