.transparent{
    background-color: rgba(97,61,124,0.2);
    //background-color: red;
    margin-top: 15%;
    margin-left: 5%;
    width:600px;
}

.logotipo{
    position:absolute;
    z-index:1;
    left:10%;
    font-size: 23px;
    font-weight: bold;
}

.footer-logo{
   // position:absolute;
    //z-index:1;
    font-size: 23px;
    font-weight: bold;
}

